!= vite
body(class="bg-slate-800")
    div(class="my-12 mx-5")
        img(src=user.foto width="100")
        p(class="text-white") Yonatan Vigilio
        a(href="/auth/logout" class="text-white bg-red-600 px-8 py-2 rounded-lg mt-6 inline-block") Salir