doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title @vigilio/express - VITE
        meta(name="description", content="framework to create web")
        != vite
        link(rel="shortcut icon", href="/logo.png", type="image/x-icon")
    body(class="bg-[#202123]" )
        div(class="w-full h-screen flex justify-center items-center")    
            block container